header{
    text-align: center;
    font-size: 3em;
}

.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-basis: 25%;
}

.shop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-basis: auto ;
    flex-basis: 25%;
    border-style: dashed;
    border-width: thin;
}

   